<h1>Edit user</h1>
<form action="/userProfile/{{user._id}}/edit" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" value="{{user.username}}" required=""/>
  <br />
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="{{user.name}}" />
  <br />
  <label for="email">Email</label>
  <input type="email" name="email" id="email" value="{{user.email}}" readonly/>
  <br />
  <label for="profileImg">Profile picture</label>
  <input type="text" name="profileImg" id="profileImg" value="{{user.profileImg}}"/>
  <br />
  <button type="submit">Edit</button>
</form>