
<div>
  <h1>{{city}}</h1>
  {{#with result}}
    <p>Weather: {{Summary}}</p>
    <p>Temperature: {{Temperature}}ºC</p>
    <p>Real feel: {{RealFeel}}ºC</p>
    <p>Precipitation: {{Precipitation.Value}}mm</p>
  {{/with}}

{{latitude}}
{{longitude}}

  <style>
    /* Establece la altura del mapa */
  #map {
  height: 400px; /* o ajusta esta altura según tus necesidades */
  min-height: 300px; /* o ajusta esta altura mínima según tus necesidades */
}
  </style>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />

  

 <div id="map"></div>

  <a href="/search">Search again</a>
  <br />
  <a href="/create-travel/{{city}}">Create your trip to {{city}}!</a>

  <script>

    mapboxgl.accessToken = "{{accessToken}}"; // Access token de Mapbox

    // Crea una instancia del mapa
    var map = new mapboxgl.Map({
      container: 'map', // ID del elemento HTML donde se mostrará el mapa
      style: 'mapbox://styles/mapbox/streets-v12', // Estilo del mapa (puedes cambiarlo según tus necesidades)
      center: [{{longitude}},{{latitude}}], // Coordenadas iniciales del centro del mapa (reemplaza LONGITUDE y LATITUDE con tus propias coordenadas)
      zoom: 12 // Nivel de zoom inicial
    });
  </script>
</div>
