<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{data.name}} Information</title>
</head>
<body>
  <h1>Información de {{data.name}}</h1>
  {{#if data}}
    <ul>
      <li>Nombre: {{data.name}}</li>
      <li>Latitud: {{data.lat}}</li>
      <li>Longitud: {{data.lon}}</li>
      <li>Código de país: {{data.country}}</li>
    </ul>
    <h2>Lugares visitables:</h2>
    {{#if data.places}}
      <ul>
        {{#each data.places}}
          <li>{{this.properties.name}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p>No se encontraron lugares visitables.</p>
    {{/if}}
  {{else}}
    <p>No se encontró información.</p>
  {{/if}}
</body>
</html>
