<h1>Your trips</h1>
{{#each travels}}
<div>
  <img src="{{travelImg}}" alt="travel" height="150px">
  <h2>{{city}}</h2>
  <p>Country: {{country}}</p>
  <p>Start date: {{startDate}}</p>
  <p>End date: {{endDate}}</p>
  <p>Budget: {{budget}}</p>
  <p>Tasks:</p>
  <ul>
    {{#each tasks}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

<a href="/travel-list/{{_id}}">Travel details</a>
</div>
{{/each}}