<img src="{{travel.travelImg}}" alt="travel" height="200px">
<h1>{{travel.city}}</h1>

  <p>Country: {{travel.country}}</p>
  <p>Start date: {{travel.startDate}}</p>
  <p>End date: {{travel.endDate}}</p>
  <p>Budget: {{travel.budget}}</p>
    <p>Tasks:</p>
    <ul>
      {{#each tasks}}
        <li><b>{{this.task}}:</b></li>
        <li>{{this.date}}</li>
        <li>{{this.status}}</li>
        <li>{{this.price}}</li>
        <br />
        <form action="/travel-list/{{../travel._id}}/delete-task/{{this._id}}" method="POST">
          <button type="submit">Delete task</button>
        </form>
        <hr>
      {{/each}}
    </ul>
<br />

<a href="/travel-list/{{travel._id}}/edit">Edit travel</a>
<br />
<a href="/travel-list/{{travel._id}}/create-task">Add task</a>
<br />
<form action="/travel-list/{{travel._id}}/delete" method="POST">
  <button type="submit">Delete travel</button>
</form>
<br />
<a href="/travel-list">Back to your travels</a>