<h1>Your trips</h1>
{{#each travels}}
<div>
  <h2>{{city}}</h2>
  <p>Country: {{country}}</p>
  <p>Start date: {{startDate}}</p>
  <p>End date: {{endDate}}</p>
  <p>Budget: {{budget}}</p>

<a href="/travel-list/{{_id}}/edit">Edit travel</a>

<form action="/travel-list/{{_id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form>
</div>
{{/each}}